@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap");

@font-face {
  font-family: "Chomsky";
  src: url("./resources/fonts/Chomsky.otf") format("otf"),
    url("./resources/fonts/Chomsky.woff") format("woff");
}

@font-face {
  font-family: "NYTCheltenham-Book";
  src: url("./resources/fonts/NYTCheltenham-Book.woff") format("woff"),
    url("./resources/fonts/NYTCheltenham-Book.woff2") format("woff");
}
@font-face {
  font-family: "NYTCheltenham-Book";
  src: url("./resources/fonts/NYTCheltenham-BookItalic.woff") format("woff"),
    url("./resources/fonts/NYTCheltenham-BookItalic.woff2") format("woff");
  font-style: italic, oblique;
}

html,
body {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.mainPicture {
  height: 400px;
  width: 800px;
}

body {
  margin: 0;
  font-family: "EB Garamond", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "NYTCheltenham-Book", serif;
  margin: 0;
}

.logo {
  font-family: "Chomsky", serif;
  font-size: 3rem;
}

h1 {
  font-size: 3rem;
}

h6 {
  color: red;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 0.8rem;
}

.Grid-item {
  /* background-color: lightblue; */
  padding: 8px;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.Header-weather {
  grid-area: wea;
}
.Header-logo {
  grid-area: log;
}
.Header-quote {
  grid-area: quo;
}

.Header-column-1 {
  grid-area: he1;
}

.Header-column-2 {
  grid-area: he2;
}

.Header-column-3 {
  grid-area: he3;
}

.Main {
  align-items: flex-start;
  padding-top: 20px;
}

.Main-column-1 {
  grid-area: co1;
}
.Main-column-2 {
  grid-area: co2;
}
.Main-column-3 {
  grid-area: co3;
}
.Main-column-4 {
  grid-area: co4;
}
.Main-comic {
  grid-area: com;
}

.Main-bottom {
  grid-area: bot;
}

.Footer {
  grid-area: foo;
}

.Container {
  width: 90%;
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr 12fr 4fr 1fr;
  grid-template-areas:
    "wea wea wea log log log log log log quo quo quo"
    "he1 he1 he1 he1 he2 he2 he2 he2 he3 he3 he3 he3"
    "co1 co1 co2 co2 co3 co3 co3 co3 co3 co3 co4 co4"
    "com com com com bot bot bot bot bot bot bot bot"
    "foo foo foo foo foo foo foo foo foo foo foo foo";
}

.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.link :hover {
  text-decoration: underline;
}

.link :visited {
  color: black;
}
