@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital@0;1&display=swap');

@font-face {
  font-family: "Chomsky";
  src: url("./resources/fonts/Chomsky.otf") format("otf"),
    url("./resources/fonts/Chomsky.woff") format("woff");
}

@font-face {
  font-family: "NYTCheltenham-Book";
  src: url("./resources/fonts/NYTCheltenham-Book.woff") format("woff"),
    url("./resources/fonts/NYTCheltenham-Book.woff2") format("woff");
}
@font-face {
  font-family: "NYTCheltenham-Book";
  src: url("./resources/fonts/NYTCheltenham-BookItalic.woff") format("woff"),
    url("./resources/fonts/NYTCheltenham-BookItalic.woff2") format("woff");
  font-style: italic, oblique;
}

/*

NOTE : the rest of the CSS rules have been moved to the src/theme/GlobalStyles.js file

*/
